<% include ../../partials/header/ %>

<div class="container">
  
  <%if (valuesExists){%>
		<a class="btn btn-primary active" href="/activities/customHealthyHabits">See My Custom Journal</a>
	<%}%>
	
	<h1>Activity 4: Identifying core and shadow values</h1>
	
	<h6>Welcome to the 4th happiness activity on your HEROIC journey: Identifying core and shadow values! This activity involves the following seven steps!</h6>
	
	<ol>
	    <li>Who are your top 3 heroes?</li>
	    <li>What do you admire about these 3 heroes?</li>
	    <li>What are your top 3 values?</li>
	    <li>Identifying organization’s core values</li>
	    <li>Assessing self-org value alignment</li>
	    <li>What are your shadow values?</li>
	    <li>Uploading report of your values and shadow values to the HEROIC (Coursera) website</li>
	</ol>
    <button><a href="/activities/valuesIdentifyHeros">Continue</a></button>
    
 </div>


<% include ../../partials/footer/ %>