<% include ../partials/header/ %>

<div class="container">
    <button><a href="/activities/journalingHome">Activity #1: Journaling</a></button>
    <button><a href="/activities/healthyHome">Activity #2: Healthy Lifestyle Project</a></button>
    <button><a href="/activities/debbieHome">Activity #3: Avoiding Debbie Downers</a></button>
</div>

<% include ../partials/footer/ %>