<% include ../partials/header/ %>

<button><a href="/activities/journalingHome">Activity #1: Journaling</a></button>
<!--<button><a href="healthyLifestyleHomepage.html">Activity #2: Healthy Lifestyle Project</a></button>-->

<% include ../partials/footer/ %>