<% include ../../partials/header/ %>


<div class="container">
<form id="journalingTemplate">

		<form id="basicTemplate">

			<h4>Three significant things that happened today and why they happened</h4>

			<p></p>
			<label for="first">Number 1</label>
			<div></div>
			<textarea class= "journalingInput" id="first" name="Text1"></textarea>
			<p></p>

			<label for="second">Number 2</label>
			<div></div>
			<textarea class= "journalingInput" id="second" name="Text2"></textarea>
			<p></p>

			<label for="third">Number 3</label>
			<div></div>
			<textarea class= "journalingInput" id="third" name="Text3"></textarea>
			<p></p>
		</form>
		
		<div id="chosenJournalingContainer">
			
			
			
		</div>
		<p></p>

		<!--<div class="btn-group happinessScale">-->

	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/1.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/2.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/3.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/4.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/5.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/6.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/7.png"></button>-->
	 <!-- 	</div>-->
	 
  	</div>
<script>

</script>

<% include ../../partials/footer/ %>