<% include ../../partials/header/ %>

<div class="container">
	
	<%if (journalingExists){%>
		<a class="btn btn-primary active" href="/activities/customJournal">See My Custom Journal</a>
	<%}%>

<h1 class="title">Welcome to Happiness Activity #1: Journaling</h1>

<h3>This is the very first happiness activity on your HEROIC journey, and arguably the most important one!</h3>

<p>As with all the other happiness activities on this website, you may choose to provide us with personal details or not. That is, you can participate in this activity completely anonymously if you prefer that. If you do choose to reveal any personal details, we promise to only use it for societal benefit, and will not use it to track or identify you. We also promise never to spam you. And please don’t worry about privacy issues; your data are entirely anonymous and password protected</p>

<h4>This activity calls for maintaining a daily record of your experiences, particularly the significant things that happened at work.</h4>

<ol>
    <p>You have three options for this activity:</p>
	<li> <a href="/activities/journalingPage">Maintain an online Journal.</a> (We recommend this option because it will enable us to send you a daily reminder.)</li>
	<li> <a href="https://www.amazon.com/Valery-Journal-Vintage-Leather-Magnetic/dp/B01B51I1JY/ref=br_lf_m_96hx9qmt2kcs6oc_ttl?_encoding=UTF8&s=office-products">Buy a hard copy of the journal.</a> (Cost ~ $20)</li>		
	<li> <a href="/heroic/journalingtemplate.pdf">Download</a> a word document and make entries in it.</li>
</ol>

<h5>These <a href="/comments">comments</a> by users can also help you decide which option to pick.</h5>

<a href="/activities/personalizeJournal" class="btn btn-link">Create My Journal</a>
</div>
	
<% include ../../partials/footer/ %>