<% include ../../partials/header/ %>


<div class="container">
<form id="journalingTemplate">

		<form id="basicTemplate">

			<h4>Three significant things that happened today and why they happened</h4>

			<p></p>
			<label for="first">Number 1</label>
			<div></div>
			<textarea class= "textArea" id="first" name="Text1"></textarea>
			<p></p>

			<label for="second">Number 2</label>
			<div></div>
			<textarea class= "textArea" id="second" name="Text2"></textarea>
			<p></p>

			<label for="third">Number 3</label>
			<div></div>
			<textarea class= "textArea" id="third" name="Text3"></textarea>
			<p></p>
		</form>
		
		<div id="chosenJournalingContainer">
			
			
			
		</div>
		<p></p>

		<!--<div class="btn-group happinessScale">-->

	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/1.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/2.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/3.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/4.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/5.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/6.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/7.png"></button>-->
	 <!-- 	</div>-->
	 
	<% if(currentUser){ %>
		<!--<button id="sendButton" onclick="sendInfo(event)">Submit</button>-->
		<button id="sendButton">Save My Journal</button>
	<%}%>
  	</div>
<script>

var journalingArray = []
var healthyArray = JSON.parse(sessionStorage.getItem("healthArray"));
var toDoArray = []


$(document).ready(function(){
    journalingArray = JSON.parse(sessionStorage.getItem("theArray"));
    if (journalingArray != undefined && journalingArray.length > 0){
        journalingArray.forEach(function(element){
            if(element != null){
                if(element === "healthyHabits"){
                    healthyArray = JSON.parse(sessionStorage.getItem("healthArray"));
                    $('#chosenJournalingContainer').append(createHealthForm())
                }
                if(element === "threeGratitudes"){
                	$('#chosenJournalingContainer').append(createThree("Gratitude", "3 Things I Am Grateful For"))
                }
                if(element === "threeKindness"){
                    $('#chosenJournalingContainer').append(createThree("Kindness", "3 Acts of Kindess"))
                }
                if(element === "threeLessons"){
                    $('#chosenJournalingContainer').append(createThree("Lessons", "3 Lessons I Learned Today"))
                }
                if(element === "toDoList"){
                	toDoArray = JSON.parse(sessionStorage.getItem("toDoArray"));
                    $('#chosenJournalingContainer').append(createtoDoList())
                }
                
            }
        })
    }
});

$("#sendButton").click(function(event){

        $.ajax({
        	type: "POST",
            url: '/activities/journalTEST',
            data: {
                arrayJournaling : journalingArray,
                arrayHealthy : healthyArray
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(){
                window.location.href = "/activities/customJournal";
            },
            error: function(){
                console.log("DID NOT WORK")
            }
        })

})

function createHealthForm(){

	var d = document.createElement("div")
	d.id = "healthyContainer"
	d.className = "journalingContainer"


	d.append(createTitle("Healthy Lifestyle & Habits"));

		// var input = document.createElement("input");
		// input.type = "text"
		// input.placeholder = "Insert New Item"

		// d.append(input)
		
		healthyArray.forEach(function(element){
			
			var input = document.createElement("div");
			input.className = "healthyElement"
			input.id = element
			input.innerHTML = '<input type="checkbox" name="Eat Healthy"' + 
			' id="eatHealthy"> <label for="eatHealthy">' + element +'</label> '
			d.append(input)
		})
		
	return d;
}

function createThree(name, title){
		var d = document.createElement("div")
		d.id =  name + "Container"
		d.className = "journalingContainer"
	
		d.append(createTitle(title));
		
		for (var i = 1; i < 4; i++) {
			var input = document.createElement("div");
			input.innerHTML = '<label for="' + i + name +'">' + i + '.</label>  <input type="text" name="" id="' + i + name +'">'
			d.append(input)
		}
		return d;
	}

function createtoDoList(){
	var d = document.createElement("div")
	d.id = "toDoListContainer"
	d.className = "journalingContainer"

	d.append(createTitle("To-Do List for Tomorrow"))

	var headers = document.createElement("div");
	headers.innerHTML = "<h4>Imp Urg</h4>"
	d.append(headers)
	
	toDoArray.forEach(function(element){
			
			var input = document.createElement("div");
			input.className = "toDoElement"
			input.id = element
			input.innerHTML = '<input type="radio" name="fifthTodo">' +
				'<input type="radio" name="fifthTodo"> ' +
				'<label>' + element +'</label>'
			d.append(input)
	})
	
	return d;
	toDoListPressed();
}

	function createTitle(titleStr){
		var title = document.createElement("h1");
		title.innerHTML = titleStr
		return title
	}

</script>
<% include ../../partials/footer/ %>