<% include ../../partials/header/ %>

<h1>Personalizing Your Journal</h1>

	<p>As you will soon learn from HEROIC (the online course on employee happiness), maintaining a journal is pertinent to living a happier and more fulfilling life. A big reason for this is it helps you reflect on the day's events which helps you understand how and why events that happened to you are meaningful. This is why the centerpiece of the journal is titled "3 Significant Events and Why". Journaling helps you reflect on significant events in your life and helps you get out of your head by putting your thoughts on something physical.</p>

	<p>Another important aspect of journaling in the "Happiness Scale", shown in the template below. The scale helps you quantiatively track your happiness levels to make sure your life is on track.</p>

	<p>The final important section is the day, date and place to help you understand the times your are at your happiest. You can also include the time of writing in the journal to better understand your happiness throughout the day.</p>

	<label for="emailJournaling"><strong>Enter Email Below for Daily Reminders</strong></label>
	<div><input type="text" id="emailJournaling" name="emailJournaling" placeholder="Email"></div>

	<p>Below is the recommended journaling template. Certain parts can be removed and added as you wish.</p>
	

	<h3>Daily Journaling Template</h3>

	<p></p>

	<form id="journalingTemplate">

		<form id="basicTemplate">

			<h4>Three significant things that happened today and why they happened</h4>

			<p></p>
			<label for="first">Number 1</label>
			<div></div>
			<textarea class= "journalingInput" id="first" name="Text1"></textarea>
			<p></p>

			<label for="second">Number 2</label>
			<div></div>
			<textarea class= "journalingInput" id="second" name="Text2"></textarea>
			<p></p>

			<label for="third">Number 3</label>
			<div></div>
			<textarea class= "journalingInput" id="third" name="Text3"></textarea>
			<p></p>
		</form>

		<div id="container">

			<div id="healthyContainer" class="journalingContainer">

				<span class="containerDelete">X</span>
				<h1>Healthy Lifestyle & Habits</h1>

				<input type="text" name="" placeholder="Enter New Item" class="healthyInput">
				
				<div class="healthyElement" id ="Eat Healthy"><input type="checkbox" name="Eat Healthy" id="eatHealthy"> <label for="eatHealthy">Eat Healthy</label>  <span class="elementDelete">X</span></div>

				<div class="healthyElement" id ="Exercise Well"><input type="checkbox" name="Exercise Well" id="exerciseWell"> <label for="exerciseWell">Exercise Well</label> <span class="elementDelete">X</span></div>

				<div class="healthyElement" id="Sleep Correctly"><input type="checkbox" name="Sleep Correctly" id="sleepCorrectly"> <label for="sleepCorrectly">Sleep Correctly</label> <span class="elementDelete">X</span></div>
			</div>
			
		</div>


		

		<p></p>

		<label class="addJournalingLabel" for="journalingSelector">Add parts to your journaling template here:  </label>
		<select id="journalingSelector" name="journalingOptions" onchange="getValue();">
			<option value="default" title="Select Journaling Addition">Select Journaling Addition</option>
			<!-- <option value="healthyHabits" title="Healthy Habits">Healthy Habits</option> -->
			<option value="threeGratitudes" title="3 Gratitudes">3 Gratitudes</option>
			<option value="threeKindness" title="3 Acts of Kindness">3 Acts of Kindness</option>
			<option value="threeLessons" title="3 Lessons">3 Lessons</option>
			<option value="toDoList" title="Todo List">Todo List</option>

		</select>



		<p></p>

		<!--<div class="btn-group happinessScale">-->

	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/1.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/2.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/3.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/4.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/5.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/6.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/7.png"></button>-->
	 <!-- 	</div>-->

  	</form>
  	
  	<a href="/activities/journalingHome" class="btn btn-link"><- Journaling Homepage</a>
  	<a id="store" href="/activities/myJournal" class="btn btn-link"> See my journal -></a>
  	<!--<a id="store" href="#" class="btn btn-link"> See my journal -></a>-->

	<p></p>
	
<script>
	var testArray = ["healthyHabits", "threeGratitudes", "threeKindness", "threeLessons", "toDoList"]
	var healthyArray = ["Eat Healthy", "Exercise Well", "Sleep Correctly"]
	var toDoArray = []
		
	$('#store').on('click', function(){
		$("#journalingSelector > option").each(function() {
			var index = testArray.indexOf($(this).val());
			if (index >= 1) {
				delete testArray[index]
			}
		});
		sessionStorage.setItem('theArray', JSON.stringify(testArray));
		sessionStorage.setItem('healthArray', JSON.stringify(healthyArray));
		sessionStorage.setItem('toDoArray', JSON.stringify(toDoArray))
	});
	
	removeItem();
	healthyPressed();
	toDoListPressed();
	
	
	function removeItem(){
		$("div").on("click", "span", function(event){
		$(this).parent().fadeOut(500, function(){
			
			// var addJournal = document.getElementById("journalingSelector");
			if (this.id === "healthyContainer"){
				$("#journalingSelector").append('<option value="healthyHabits" title="Healthy Habits">Healthy Habits</option>')
			}
			else if(this.id === "threeGratitudesContainer"){
				$("#journalingSelector").append('<option value="threeGratitudes" title="3 Gratitudes">3 Gratitudes</option>')
			}
			else if(this.id === "threeKindnessContainer"){
				$("#journalingSelector").append('<option value="threeKindness" title="3 Acts of Kindness">3 Acts of Kindness</option>')
			}
			else if(this.id === "threeLessonsContainer"){
				$("#journalingSelector").append('<option value="threeLessons" title="3 Lessons">3 Lessons</option>')
			}
			else if(this.id === "toDoListContainer"){
				$("#journalingSelector").append('<option value="toDoList" title="Todo List">Todo List</option>')
			}
			else if(this.className === "healthyElement"){
				var index = healthyArray.indexOf(this.id);
				if (index !== -1){
					healthyArray.splice(index, 1);
				} 
			}else if(this.className === "toDoElement"){
				var index = toDoArray.indexOf(this.id);
				if (index !== -1){
					toDoArray.splice(index, 1);
				}
			}
			$(this).remove();
		}); //.parent gives us the parent of the span
		event.stopPropagation();
	})
	}
	
	function healthyPressed(){
	
		$("#container").on("keypress", "#healthyContainer", ".healthyInput", function(event){
			if(event.which === 13){
				var newItem = $(".healthyInput").val();
				$(".healthyInput").val("");
				healthyArray.push(newItem)
				console.log(healthyArray)
				var input = document.createElement("div");
				input.className = "healthyElement"
				input.id = newItem
				input.innerHTML = '<input type="checkbox" name="Eat Healthy"' + 
				' id="eatHealthy"> <label for="eatHealthy">' + newItem +'</label> ' + 
				'<span>X</span>'
				$("#healthyContainer").append(input)
		}
		})
	}
	
	function toDoListPressed(){
	
		$("#container").on("keypress", "#toDoListContainer", "input", function(event){
			if(event.which === 13){
				var newItem = $(".toDoInput").val();
				$(".toDoInput").val("");
				toDoArray.push(newItem);
				console.log(toDoArray);
				var input = document.createElement("div");
				input.className = "toDoElement"
				input.id = newItem
				input.innerHTML = '<span class="elementDelete">X</span>' +
				'<input type="radio" name="fifthTodo">' +
				'<input type="radio" name="fifthTodo"> ' +
				'<label>' + newItem +'</label>'
				$("#toDoListContainer").append(input)
		}
		})
	}
	
	
	function getValue()
	{
		var addJournal = document.getElementById("journalingSelector");
		var selectedValue = addJournal.value;
		var container = document.getElementById("container");
		var healthyContainer = document.getElementById("originalHealthyContainer")
	
		if (selectedValue === "healthyHabits"){
			container.append(createHealthForm());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'healthyHabits' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
	
		else if (selectedValue === "threeGratitudes"){
			container.append(createThreeGratitudes());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeGratitudes' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
	
		else if (selectedValue === "threeKindness"){
			container.append(createThreeKindness());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeKindness' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
		else if (selectedValue === "threeLessons"){
			container.append(createThreeLessons());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeLessons' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
		else if (selectedValue === "toDoList"){
			container.append(createtoDoList());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'toDoList' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
	
		removeItem()
	}
	
	
	
	
	
	function createHealthForm(){
	
		var d = document.createElement("div")
		d.id = "healthyContainer"
		d.className = "journalingContainer"
	
	
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		d.append(s);
	
		var title = document.createElement("h1");
		title.innerHTML = "Healthy Lifestyle & Habits";
		d.append(title);
	
			var input = document.createElement("input");
			input.type = "text"
			input.className = "healthyInput"
			input.placeholder = "Insert New Item"
	
			d.append(input)
	
			var input1 = document.createElement("div");
			input1.id = "Eat Healthy"
			input.className = "healthyElement"
			input1.innerHTML = '<input type="checkbox" name="Eat Healthy"' + 
			' id="eatHealthy"> <label for="eatHealthy">Eat Healthy</label> ' + 
			'<span>X</span>'
			d.append(input1)
	
			var input2 = document.createElement("div");
			input2.id = "Exercise Well"
			input2.className = "healthyElement"
			input2.innerHTML = '<input type="checkbox" name="Exercise Well"' + 
			' id="exerciseWell"> <label for="exerciseWell">Exercise Well</label> ' + 
			'<span>X</span>'
			d.append(input2)
	
			var input3 = document.createElement("div");
			input3.id = "Sleep Correctly"
			input3.className = "healthyElement"
			input3.innerHTML =  '<input type="checkbox" name="Sleep Correctly"' + 
			' id="sleepCorrectly"> <label for="sleepCorrectly">Sleep Correctly</label> ' + 
			'<span>X</span>'
			d.append(input3)
	
		return d;
		
		presed()
	}
	
	
	function createThreeGratitudes(){
		var d = document.createElement("div")
		d.id = "threeGratitudesContainer"
		d.className = "journalingContainer"
	
	
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		d.append(s);
	
		var title = document.createElement("h1");
		title.innerHTML = "3 Gratitudes"
		d.append(title);
	
		var input1 = document.createElement("div");
		input1.innerHTML = '<label for="firstGratitude">1.</label>  <input type="text" name="" id="firstGratitude">'
		d.append(input1)
	
		var input2 = document.createElement("div");
		input2.innerHTML = '<label for="secondGratitude">2.</label> <input type="text" name="" id="secondGratitude">'
		d.append(input2)
	
		var input3 = document.createElement("div");
		input3.innerHTML = '<label for="thirdGratitude">3.</label> <input type="text" name="" id="thirdGratitude">'
		d.append(input3)
	
		return d;
	}
	
	
	function createThreeKindness(){
		var d = document.createElement("div")
		d.id = "threeKindnessContainer"
		d.className = "journalingContainer"
	
	
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		d.append(s);
	
		var title = document.createElement("h1");
		title.innerHTML = "3 Acts of Kindness"
		d.append(title);
	
		var input1 = document.createElement("div");
		input1.innerHTML = '<label for="firstKindness">1.</label> <input type="text" name="" id="firstKindness">'
		d.append(input1)
	
		var input2 = document.createElement("div");
		input2.innerHTML = '<label for="secondKindness">2.</label> <input type="text" name="" id="secondKindness">'
		d.append(input2)
	
		var input3 = document.createElement("div");
		input3.innerHTML = '<label for="thirdKindness">3.</label> <input type="text" name="" id="thirdKindness">'
		d.append(input3)
	
		return d;
	}
	
	function createThreeLessons(){
		var d = document.createElement("div")
		d.id = "threeLessonsContainer"
		d.className = "journalingContainer"
	
	
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		d.append(s);
	
		var title = document.createElement("h1");
		title.innerHTML = "3 Lessons I Learned"
		d.append(title);
	
		var input1 = document.createElement("div");
		input1.innerHTML = '<label for="firstLesson">1.</label> <input type="text" name="" id="firstLesson">'
		d.append(input1)
	
		var input2 = document.createElement("div");
		input2.innerHTML = '<label for="secondLesson">2.</label> <input type="text" name="" id="secondLesson">'
		d.append(input2)
	
		var input3 = document.createElement("div");
		input3.innerHTML = '<label for="thirdLesson">3.</label> <input type="text" name="" id="thirdLesson">'
		d.append(input3)
	
		return d;
	}
	
	function createtoDoList(){
		var d = document.createElement("div")
		d.id = "toDoListContainer"
		d.className = "journalingContainer"
	
	
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		d.append(s);
	
		var title = document.createElement("h1");
		title.innerHTML = "To-Do List for Tomorrow";
		d.append(title);
	
		var input = document.createElement("input");
		input.type = "text"
		input.className = "toDoInput"
		input.placeholder = "Insert New Item"
	
		d.append(input)
	
		var headers = document.createElement("div");
		headers.innerHTML = "<h4>Imp Urg</h4>"
		d.append(headers)
	
		return d;
	
		toDoListPressed();
	}
</script>

<% include ../../partials/footer/ %>