<% include ../../partials/header/ %>

<div class=container>

<h1>Personalizing Your Journal</h1>

	<p>As you will soon learn from HEROIC (the online course on employee happiness), maintaining a journal is pertinent to living a happier and more fulfilling life. A big reason for this is it helps you reflect on the day's events which helps you understand how and why events that happened to you are meaningful. This is why the centerpiece of the journal is titled "3 Significant Events and Why". Journaling helps you reflect on significant events in your life and helps you get out of your head by putting your thoughts on something physical.</p>

	<p>Another important aspect of journaling in the "Happiness Scale", shown in the template below. The scale helps you quantiatively track your happiness levels to make sure your life is on track.</p>

	<p>The final important section is the day, date and place to help you understand the times your are at your happiest. You can also include the time of writing in the journal to better understand your happiness throughout the day.</p>

	<label for="emailJournaling"><strong>Enter Email Below for Daily Reminders</strong></label>
	<div><input type="text" id="emailJournaling" name="emailJournaling" placeholder="Email"></div>

	<p>Below is the recommended journaling template. Certain parts can be removed and added as you wish.</p>
	

	<h3>Daily Journaling Template</h3>

	<p></p>

	<form id="journalingTemplate">

		<form id="basicTemplate">

			<h4>Three significant things that happened today and why they happened</h4>

			<p></p>
			<label for="first">Number 1</label>
			<div></div>
			<textarea class= "textArea" id="first" name="Text1"></textarea>
			<p></p>

			<label for="second">Number 2</label>
			<div></div>
			<textarea class= "textArea" id="second" name="Text2"></textarea>
			<p></p>

			<label for="third">Number 3</label>
			<div></div>
			<textarea class= "textArea" id="third" name="Text3"></textarea>
			<p></p>
		</form>

		<div id="container">

			<div id="healthyContainer" class="journalingContainer">

				<span class="containerDelete">X</span>
				<h1>Healthy Lifestyle & Habits</h1>

				<input type="text" name="" placeholder="Enter New Item" class="healthyInput">
				
				<div class="healthyElement" id ="Eat Healthy"><input type="checkbox" name="Eat Healthy" id="eatHealthy"> <label for="eatHealthy">Eat Healthy</label>  <span class="elementDelete">X</span></div>
				<div class="healthyElement" id ="Exercise Well"><input type="checkbox" name="Exercise Well" id="exerciseWell"> <label for="exerciseWell">Exercise Well</label> <span class="elementDelete">X</span></div>
				<div class="healthyElement" id="Sleep Correctly"><input type="checkbox" name="Sleep Correctly" id="sleepCorrectly"> <label for="sleepCorrectly">Sleep Correctly</label> <span class="elementDelete">X</span></div>
			</div>
			
		</div>


		<p></p>

		<label class="addJournalingLabel" for="journalingSelector">Add parts to your journaling template here:  </label>
		<select id="journalingSelector" name="journalingOptions" onchange="getValue();">
			<option value="default" title="Select Journaling Addition">Select Journaling Addition</option>
			<option value="threeGratitudes" title="3 Gratitudes">3 Gratitudes</option>
			<option value="threeKindness" title="3 Acts of Kindness">3 Acts of Kindness</option>
			<option value="threeLessons" title="3 Lessons">3 Lessons</option>
			<option value="toDoList" title="Todo List">Todo List</option>

		</select>

		<p></p>

		<!--<div class="btn-group happinessScale">-->

	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/1.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/2.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/3.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/4.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/5.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/6.png"></button>-->
	 <!-- 		<button type="button" class="btn btn-light scaleButton"><img class="cover" src="happinessScalePictures/7.png"></button>-->
	 <!-- 	</div>-->

  	</form>
  	
  	<a href="/activities/journalingHome" class="btn btn-link"><- Journaling Homepage</a>
  	<a id="store" href="/activities/myJournal" class="btn btn-link"> See my journal -></a>
  	<!--<a id="store" href="#" class="btn btn-link"> See my journal -></a>-->

	<p></p>
</div>
	
<script>
	var testArray = ["healthyHabits", "threeGratitudes", "threeKindness", "threeLessons", "toDoList"]
	var healthyArray = ["Eat Healthy", "Exercise Well", "Sleep Correctly"]
	var toDoArray = []
		
	$('#store').on('click', function(){
		$("#journalingSelector > option").each(function() {
			var index = testArray.indexOf($(this).val());
			if (index >= 0) {
				delete testArray[index]
			}
		});
		sessionStorage.setItem('theArray', JSON.stringify(testArray));
		sessionStorage.setItem('healthArray', JSON.stringify(healthyArray));
		sessionStorage.setItem('toDoArray', JSON.stringify(toDoArray))
	});
	
	removeItem();
	healthyPressed();
	toDoListPressed();
	
	
	function removeItem(){
		$("div").on("click", "span", function(event){
		$(this).parent().fadeOut(500, function(){
			
			if (this.id === "healthyContainer"){
				console.log(this.id)
				$("#journalingSelector").append('<option value="healthyHabits" title="Healthy Habits">Healthy Habits</option>')
				
			}
			else if(this.id === "GratitudeContainer"){
				$("#journalingSelector").append('<option value="threeGratitudes" title="3 Gratitudes">3 Gratitudes</option>')
			}
			else if(this.id === "KindnessContainer"){
				$("#journalingSelector").append('<option value="threeKindness" title="3 Acts of Kindness">3 Acts of Kindness</option>')
			}
			else if(this.id === "LessonsContainer"){
				$("#journalingSelector").append('<option value="threeLessons" title="3 Lessons">3 Lessons</option>')
			}
			else if(this.id === "toDoListContainer"){
				$("#journalingSelector").append('<option value="toDoList" title="Todo List">Todo List</option>')
			}
			else if(this.className === "healthyElement"){
				var index = healthyArray.indexOf(this.id);
				if (index !== -1){
					healthyArray.splice(index, 1);
				} 
			}else if(this.className === "toDoElement"){
				var index = toDoArray.indexOf(this.id);
				if (index !== -1){
					toDoArray.splice(index, 1);
				}
			}
			$(this).remove();
		}); //.parent gives us the parent of the span
		event.stopPropagation();
	})
	}
	
	function healthyPressed(){
	
		$("#container").on("keypress", "#healthyContainer", ".healthyInput", function(event){
			if(event.which === 13){
				var newItem = $(".healthyInput").val();
				$(".healthyInput").val("");
				healthyArray.push(newItem)
				var input = document.createElement("div");
				input.className = "healthyElement"
				input.id = newItem
				input.innerHTML = '<input type="checkbox" name="Eat Healthy"' + 
				' id="eatHealthy"> <label for="eatHealthy">' + newItem +'</label> ' + 
				'<span class="elementDelete">X</span>'
				$("#healthyContainer").append(input)
		}
		})
	}
	
	function toDoListPressed(){
	
		$("#container").on("keypress", "#toDoListContainer", "input", function(event){
			if(event.which === 13){
				var newItem = $(".toDoInput").val();
				$(".toDoInput").val("");
				toDoArray.push(newItem);
				var input = document.createElement("div");
				input.className = "toDoElement"
				input.id = newItem
				input.innerHTML = '<span class="elementDelete">X</span>' +
				'<input type="radio" name="fifthTodo">' +
				'<input type="radio" name="fifthTodo"> ' +
				'<label>' + newItem +'</label>'
				$("#toDoListContainer").append(input)
		}
		})
	}
	
	
	function getValue()
	{
		var addJournal = document.getElementById("journalingSelector");
		var selectedValue = addJournal.value;
		var container = document.getElementById("container");
	
		if (selectedValue === "healthyHabits"){
			container.append(createHealthForm());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'healthyHabits' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
	
		else if (selectedValue === "threeGratitudes"){
			container.append(createThree("Gratitude", "3 Things I Am Grateful For"));
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeGratitudes' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
	
		else if (selectedValue === "threeKindness"){
			container.append(createThree("Kindness", "3 Acts of Kindess"))
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeKindness' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
		else if (selectedValue === "threeLessons"){
			container.append(createThree("Lessons", "3 Lessons I Learned Today"))
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'threeLessons' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
		else if (selectedValue === "toDoList"){
			container.append(createtoDoList());
			for (var i=0; i < addJournal.length; i++){
	  			if (addJournal.options[i].value == 'toDoList' ){
	  				addJournal.remove(i);
	  			}
	  		}
		}
		removeItem()
	}
	
	
	function createHealthForm(){
	
		var d = document.createElement("div")
		d.id = "healthyContainer"
		d.className = "journalingContainer"
		
		d.append(createSpan());
		d.append(createTitle("Healthy Lifestyle & Habits"));
		d.append(createInput("healthyInput"))
			
		healthyArray.forEach(function(element){
			var input = document.createElement("div");
			input.id = element
			input.className = "healthyElement"
			input.innerHTML = '<input type="checkbox" name="' + element + '"' + 
			' id="eatHealthy"> <label for="eatHealthy">' + element + '</label> ' + 
			'<span>X</span>'
			d.append(input)
		})
			
		return d;
	}
	
	function createThree(name, title){
		var d = document.createElement("div")
		d.id =  name + "Container"
		d.className = "journalingContainer"
	
		d.append(createSpan());
		d.append(createTitle(title));
		
		for (var i = 1; i < 4; i++) {
			var input = document.createElement("div");
			input.innerHTML = '<label for="' + i + name +'">' + i + '.</label>  <input type="text" name="" id="' + i + name +'">'
			d.append(input)
		}
		return d;
	}
	
	function createtoDoList(){
		var d = document.createElement("div")
		d.id = "toDoListContainer"
		d.className = "journalingContainer"
	
		d.append(createSpan());
		d.append(createTitle("To-Do List for Tomorrow"));
		d.append(createInput("toDoInput"))
	
		var headers = document.createElement("div");
		headers.innerHTML = "<h4>Imp Urg</h4>"
		d.append(headers)
	
		return d;
		toDoListPressed();
	}
	
	function createSpan(){
		var s = document.createElement("span");
		s.innerHTML = "X"
		s.className = "containerDelete"
		return s
	}
	
	function createTitle(titleStr){
		var title = document.createElement("h1");
		title.innerHTML = titleStr
		return title
	}
	
	function createInput(inputClass){
		var input = document.createElement("input");
		input.type = "text"
		input.className = inputClass
		input.placeholder = "Insert New Item"
		return input
	}
</script>

<% include ../../partials/footer/ %>