<% include ../../partials/header/ %>

<div class="container">
  
  <%if (healthyExists){%>
		<a class="btn btn-primary active" href="/activities/customHealthyHabits">See My Custom Journal</a>
	<%}%>
	
    <h1>Welcome to the Healthy Lifestyle Project</h1>

    <h3>This activity consists of 4 steps. Step 1 involves coming up with a “healthy lifestyle” plan that you think will work well for you. This plan will consist of the three components: </h3>

    <ul>
      <li>Eating Right</li>
      <li>Moving More</li>
      <li>Sleeping Better</li>
    </ul>



    <h5>When you click the “continue” button at the bottom, you’ll be taken to a screen on which you will be asked to come up with three specific steps for “eating right”.</h5>


    <button><a href="/activities/healthyEatingRight">Continue</a></button>


  </div>


<% include ../../partials/footer/ %>