<% include ../../partials/header/ %>

<div class="container">
  
  <%if (debbieExists){%>
		<a class="btn btn-primary active" href="/activities/customDebbieDowners">See Plan to Avoid Debbie Downers</a>
	<%}%>
	
	<h1>Avoiding Debbie Downers</h1>
	
	<p>Welcome to the “Avoiding Debbie Downers” Project, the 3rd happiness activity on your HEROIC journey! This activity involves three simple steps!</p>
	
	
	
	<button><a href="/activities/debbieStep2">Continue</a></button>

<% include ../../partials/footer/ %>